@keyframes move-data {
  0% {
      transform: translateX(0)
  }

  to {
      transform: translateX(-50%)
  }
}
.live-fixed-bar {
  box-sizing: border-box;
  position: fixed;
  top: 170px;
  right: 0;
  z-index: 1000;
  width: 180px;
  background: linear-gradient(90deg,#3875f6,#438eff);
  border-radius: 44px 0 0 44px;
}

.live-title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow: hidden;
  width: 131px;
  margin-left: auto;
  background-color: #fff;
}

.move-wrap {
  -ms-flex: none;
  flex: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  animation: move-data 7s .5s linear infinite
}

.scroll-title {
  padding-right: 40px
}